@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
    --color-primary:#B68834;
    --color-secondary:#1C1410;
    --color-hero:#2B1B14;
--color-btn:#8B5E3C;
--color-para:#CBB8A3;
--color-para2:#777777;
--color-heading:#F5EBDD;

    --breakpoint-sm: 576px;
--breakpoint-md:768px;
--breakpoint-lg:1028px;
--font-family-primary:'Pacifico',cursive;
}

@utility section-padding{

@apply px-6 md:px-15 py-7

}


@utility container-padding{

@apply sm:px-20 px-7 md:px-15 py-20

}



@utility headingSize{

@apply md:text-[35px] sm:text-[30px] text-[25px] 

}

@utility smallHeading{

@apply md:text-[20px]  text-[18px] 

}


@utility paraSize{

@apply md:text-[16px] sm:text-[15px] text-[14px] 

}
